# The loopback network interface

auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{% if node[inventory_hostname].switching.interface is not none %}
{% for interface in node[inventory_hostname]["switching"]["interface"] %}
{% if node[inventory_hostname]["switching"]["interface"][interface].mode != 'bond' %}
auto {{interface}}
iface {{interface}}
   bridge-access {{ node[inventory_hostname]["switching"]["interface"][interface].vlan }}
{% endif %}
{% if node[inventory_hostname]["switching"]["interface"][interface].mode == 'bond' %}
auto {{interface}}
iface {{interface}}
   post-up ip link set {{interface}} promisc on
{% endif %}
{% endfor %}
{% endif %}

{% if node[inventory_hostname]["switching"].bonds is not none %}
{% for bond in node[inventory_hostname]["switching"]["bonds"] %}
auto {{bond}}
iface {{bond}}
   bond-slaves {{ node[inventory_hostname]["switching"]["bonds"][bond].members | join(" ") }}
   bridge-access {{ node[inventory_hostname]["switching"]["bonds"][bond].vlan }}
{% endfor %}
{% endif -%}

{% if node[inventory_hostname]["switching"]["bridge"] is defined %}
auto bridge
iface bridge
    bridge-ports {{ node[inventory_hostname]["switching"]["bridge"] | join(" ") }}
    bridge-vids {{ node[inventory_hostname]["switching"]["vlans"] | join(" ") }}
    bridge-vlan-aware yes
{% endif -%}

{% for vlanint in node[inventory_hostname]["routing"]["svi"] -%}
auto {{vlanint}}
iface {{vlanint}}
    address {{ node[inventory_hostname]["routing"]["svi"][vlanint]["ip"] }}
    vlan-id {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vlan"] }}
    vlan-raw-device bridge
{% endfor %}
